## Part 1

### State the null hypothesis

- There is no difference in the mean etching rate for different levels of power
H0 : µ1 = ··· = µk|

### State the alternate hypothesis

- At least one mean is different

### What is the significance level

- is the probability of rejecting the null hypothesis when it is true. In this case the null hypothesis is not true cause the means are not iqual.

0.01

### What are the degrees of freedom of model, error terms, and total DoF

- Degrees of freedom is the number of samples minus number of groups,   a(n - 1)

Degrees of freedom of model = 2
Error terms = 1
Total DoF = 14

## Part 2

In [3]:
import pandas as pd

In [4]:
data = pd.read_excel('anova_lab_data.xlsx')

In [6]:
data.head()

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Power         15 non-null     object
 1   Etching Rate  15 non-null     float64
dtypes: float64(1), object(1)
memory usage: 368.0+ bytes

In [18]:
data.columns= data.columns.str.lower()

In [19]:
data

   power   etching rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [23]:
data.columns = data.columns.str.replace(' ','_')

In [24]:
data

   power_  etching_rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [26]:
import statsmodels.api as sm 
from statsmodels.formula.api import ols

In [27]:
model=ols('etching_rate ~ C(power_)',data=data).fit()

In [28]:
results_table=sm.stats.anova_lm(model)

In [29]:
results_table

             df     sum_sq   mean_sq          F    PR(>F)
C(power_)   2.0  18.176653  9.088327  36.878955  0.000008
Residual   12.0   2.957240  0.246437        NaN       NaN

### Changing the power of the plasma beam has an effect on the etching rate