In [24]:
import pandas as pd

In [25]:
data = pd.read_excel("machine.xls")

In [26]:
data

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [42]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   New machine      10 non-null     float64
 1       Old machine  10 non-null     float64
dtypes: float64(2)
memory usage: 288.0 bytes

In [37]:
new = data["New machine"]

In [38]:
new

0    42.1
1    41.0
2    41.3
3    41.8
4    42.4
5    42.8
6    43.2
7    42.3
8    41.8
9    42.7
Name: New machine, dtype: float64

In [44]:
old = data["    Old machine"]

In [45]:
old

0    42.7
1    43.6
2    43.8
3    43.3
4    42.5
5    43.5
6    43.1
7    41.7
8    44.0
9    44.1
Name:     Old machine, dtype: float64

In [48]:
a = new
b = old

In [55]:
from scipy import stats

In [59]:
from scipy.stats import ttest_ind

In [60]:
ttest_ind(a, b, axis=0, equal_var=True, nan_policy='propagate', permutations=None, random_state=None, alternative='two-sided', trim=0)

Ttest_indResult(statistic=-3.3972307061176026, pvalue=0.0032111425007745158)